  <td class="px-3">
    <%= rec.match.name %>
  </td>
  <td class="px-3">
    <%= image_tag(thumb_candidate_path(rec.candidate),
                   width: '50') %>
  </td>
  <td class="px-3">
    <%= rec.candidate.name %>
  </td>
