  <div class="w-full">
    <div class="text-center my-12">
      <p class="my-1 text-lg">
        <%= v_i18n('alreay_voted_thankyou') %>
      </p>
      <p class="my-1 text-lg">
        <%= v_i18n('alreay_voted_thankyou2') %>
      </p>
      <p class="mt-4">
        <%= v_i18n('alreay_voted_thankyou3') %>
      </p>
    </div>
  </div>
